/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
}

.phone-container {
  max-width: 460px;
  width:100%
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.bg-jackpot{
  background-image: url('assets/images/jackpot_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:136px;
}
.text-brandred{
  color:#FF4726;
}
.text-g{
  color:#5c5c5c;
}
.fw800{
  font-weight: 800;
}
.bg-brandred{
  background-color: #FF4726;
}
.bg-brandlyellow{
  background-color: #FFF3CD;
}
.bg-lg{
  background-color: #F0F0F0;
}
.bg-lgreen{
  background-color: #EBFAEF;
}
.bg-green{
  background-color: #00B333;
}
.bg-wo20{
  background-color: rgba(255, 255, 255, 0.20);
}
.bg-yg{
  background:linear-gradient(180deg, #FFE748 0%, #FFBA65 100%);
}
.bg-gg{
  background:linear-gradient(180deg, #0BE148 0%, #05C595 100%);
}
.bg-lyg{
  background:linear-gradient(180deg, #FFF 0%, #FFF1E6 100%);
}

.f14{
  font-size: 14px;
  line-height: 20px;
}
.f12 {
  font-size: 12px;
  line-height: 16px;
}
.jackpotnum{
  /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
  font-size: 16px;
  font-weight: 700;
  background: linear-gradient(102deg, #F1D486 27.73%, #E3A406 61.51%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jackpotnumbg{
  /*height: 24px;*/
  border-radius: 40px;
  border: 2px solid #FFE175;
  background: linear-gradient(0deg, #B41C0B -16.67%, #4E0C05 100%);
}
.mbh4{
  margin-bottom:4px;
}
.mbh12{
  margin-bottom:12px;
}
.mbh20{
  margin-bottom:20px;
}
.pbh32andline{
  padding-bottom:32px;
  border-bottom:1px solid #F0F0F0;
}
.mrw4{
  margin-right:4px;
}
.rounded-5 {
  border-radius: 0.5rem;
}
.rounded-24 {
  border-radius: 24px;
}
.h32 {
 height:32px;
}

.no-border {
  border: 0;
  box-shadow: none;
}
.fixed-top-ezy {
  position: fixed;
  top: 0;
  right: auto;
  left: auto;
  z-index: 1030;
}
.fixed-bottom-ezy {
  position: fixed;
  bottom: 0;
  right: auto;
  left: auto;
  z-index: 1030;
}
